@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #0E0E15 0%, #14141F 100%);
  --foreground: #ffffff;
  --background-card-cinza: #323743;
  --background-card-cinza-hover: #3A3E4B;
  --background-color-1: #12121b;
  --background-color-2: #161323;
  --background-color-3: rgba(187, 202, 226, 0.1);
  --background-color-4: #0D0D12;
  --background-color-5: #53339A;
  --background-color-6: #080809;
  --color-purple-1: #951FFB;
  --color-purple-2: #616EFF;
  --color-purple-3: #7C3FFD;
  --color-purple-4: #5a0ffc;
  --color-purple-5: #685BFF;

  --color-border-cinza: #6E737F;

  --color-button-primary: #FDC700;
  --color-button-secondary: #cfccfc;

  --text-color-1: #a6a2ff;
  --text-color-2: #7A19CD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.texto-destaque {
  color: var(--text-color-2 );
  font-weight: bold;
}
.texto-light {
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
  color: #D9E8FF;
}

.texto-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
}

.texto-medium-md {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 64px;
}

.page {
  width: 100%;
  min-height: 100vh;
}

.borda-cinza {
  border: 1px solid var(--color-border-cinza);
  border-radius: 8px;
}

.bg-card-cinza {
  background-color: var(--background-card-cinza);
}

.bg-card-cinza:hover {
  background-color: var(--background-card-cinza-hover);
  cursor: pointer;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;   /* largura vertical */
  height: 8px;  /* altura horizontal */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #12121B; /* cor do fundo */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-purple-5); /* cor do polegar */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple-3);
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple-5) #12121B;
}